ul#flickrlink,ul#flickrlink li {

list-style: none;
margin: 0;
padding: 0;
font-family: arial,sans-serif;

}


ul#flickrlink {

background: url(greengrad.gif) 0 -80px repeat-x #fff;
float: left;
clear: both;
padding: 3px;

}

ul#flickrlink li {

margin: 2px;
float: left;
text-align: center;
display: none;

}


ul#flickrlink a{

color: #666;
font-weight: bold;
font-size: .8em;

}

ul#flickrlink li.nav
{
width: 2em;
display: block;
}


.nav a
{
padding-top: 63px;
color: #999;
}

#flickrlink img
{
width: 75px;
padding: 2px;
border: 1px solid #999;
display: block;
}

#flickrshot 
{

font-family: arial,sans-serif;
background: url(greengrad.gif) top left repeat-x #fff;
font-size:.8em;
border:  1px solid #060;
padding: 5px;
width: 240px;
margin: 10px auto;
position: absolute;
left: 50%;
margin-left: -120px;
}

#flickrshot a.fjbcloser{

position: absolute;
right: 10px;
top: 8px;
color: #fff;
font-weight: bold;
text-decoration: none;
z-index: 99;

}


#flickrshot img
{
border: none;
margin: 0 auto;
background:url(ajax-loader.gif) center center no-repeat transparent;
}

#flickrshot h4,#flickrshot p
{
margin: .2em 0;
padding: 0;
}

#flickrshot h4
{
color: #ffc;
font-size: 1em;
background-color: #030;
padding: .2em;
margin: 0 0 .2em 0;
}

#flickrshot p
{
margin: .2em 0 0 0;
}

#flickrshot a
{
display: block;
text-align: center;
}

#flickrshot p a{

padding: .1em;
margin: 0 0 0 0;
font-weight: bold;
color: #369;
}