*
{
margin:0;
padding:0;
}

body 
{
font-family:"Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
font: 14px; 
color: #b3b3bb;
background-color:#1d1d20;;
}
#myTags
{
position:absolute;
left:50px;
top:50px;
}

#myTags li
{
list-style:none;
font-size:12px;
display: block;
margin: 2px;
padding: 20px 20px 20px 20px;
width:100px;
background-color: #333;
text-align:left;
font-weight:bold;
font-family:arial;
color:#fff;
}

#myTags li:hover
{
cursor:pointer;
}

#myTags li a
{
text-transform: uppercase;
text-decoration: none;
color: #fff;
}


#headTag
{
position:absolute;
left:50px;
top:15px;
font-family:verdana;
font-size:17px;
font-weight:bold;
color:#D0EB6A;
letter-spacing: 1px;
}
